:root{
    --primary: #f0f0f0;
    --secondary: #587299;
    --tertiary: rgb(34, 52, 75);
    --white: #F8F8F8;
    --bg-container: rgba(17, 26, 39, 0.44);
    --border-container: 1px solid rgba(86, 118, 160, 0.295);

    --otherinfo-container: var(--nav-lang-bg);
    --otherinfo-text: var(--primary);

    --btn-search: var(--nav);

    --btn-time: #E7E7E7;
    --btn-time-text: #2D4059;

    --theme-icon: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(102%) contrast(102%);
    --unit-not-selected: #445877;

    --nav: #233c5c;
    --nav-lang-bg: #1b314d;
    --nav-lang-icon: invert(100%) sepia(7%) saturate(6026%) hue-rotate(220deg) brightness(125%) contrast(105%);

    --theme-hover: #27354d;
    
    --bg: linear-gradient(127.54deg, #1B2D47 21.73%, #0F1B2D 78.27%);

    --box-shadow: 0px 12px 18px rgba(17, 26, 39, 0.3);

    --footer: #0F1926;

    --land-weather-text: linear-gradient(180deg, var(--primary) 0%, #d2d2d2 100%)
}