:root{
    --primary: #2D4059;
    --secondary: #496994;
    --tertiary: rgba(214, 214, 214, 1);
    --white: #F8F8F8;
    --bg-container: rgba(255, 255, 255, 0.226);
    --border-container: 1px solid rgba(255, 255, 255, 0.31);
    
    --otherinfo-container: linear-gradient(111.59deg, var(--primary) 3.28%, var(--secondary) 98.14%);
    --otherinfo-text: #F8F8F8;

    --btn-search: var(--primary);

    --btn-time: #2D4059;
    --btn-time-text: #F8F8F8;

    --theme-icon: invert(21%) sepia(18%) saturate(1197%) hue-rotate(174deg) brightness(97%) contrast(90%);
    --unit-not-selected: #658fc5;

    --nav: #e6f2ff;
    --nav-lang-bg: #d3e8ff;
    --nav-lang-icon: invert(22%) sepia(12%) saturate(1929%) hue-rotate(175deg) brightness(91%) contrast(88%);

    --theme-hover: var(--primary);

    --bg: linear-gradient(127.54deg, rgba(168, 220, 252, 0.99) 0%, #A5CFFF 100%);

    --box-shadow: 0px 12px 18px rgba(164, 207, 255, 0.5);

    --footer: var(--primary);

    --land-weather-text: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
}