main{
    min-height: calc(100vh - 65px);

    display: flex;
    align-items: center;
    justify-content: center;
}

main .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .text h1{
    color: var(--primary);
    font-family: 'Lexend-SemiBold';
}

main .text h3{
    color: var(--secondary);
}

main .text .try-it{
    width: max-content;
    
    display: flex;
    align-items: center;
    gap: 10px;

    background: var(--bg-container);
    border: var(--border-container);
    color: var(--primary);

    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 50px;

    text-decoration: none;
}

main .weather-example{
    width: 50%;
    height: 100%;

    position: relative;

    background: url(../assets/img/landing-page/light-main.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}